<h3>Comments:</h3>
<% post.comments.each do |comment| %>
  <div class="comment-container">
    <% if comment.user&.profile_picture.present? %>
      <%= image_tag(comment.user.profile_picture) %>
    <% else %>
      <%= image_tag 'profile.png' %>
    <% end %>
    <div>
      <strong>
        <% if comment.user %>
          <%= comment.user.display_name %>
        <% else %>
          Anónimo
        <% end %>
      </strong>
      <div class="comment-content">
        <p><%= comment.content %></p>
        <%= render 'like', record: comment %>
      </div>
    </div>
  </div>
<% end %>
