<div class="post-card">
  <div class="post-card-header">
    <p>
      <strong>Title:</strong>
      <%= post.title %>
    </p>

    <div>
      <% if !post.user %>
        Anónimo
      <% else %>
        <%= post.user.display_name %>
      <%end %>
    </div>
  </div>
    <strong>Content:</strong>
    <%= post.content %>
  </p>
  <span><%= "#{post.comments.size} comments" %></span>
  <span><%= "#{post.likes.count} likes" %></span>
  <% if user_signed_in? %>
    <% if user_liked?(post) %>
      <%= button_to("Remove like", like_path(find_user_like(post)), method: :delete )%>
    <% else %>
      <%= button_to("Like", likes_path, method: :post, params: { likable_type: 'Post', likable_id: post.id, user_id: current_user&.id }) %>
    <% end %>
  <% end %>
</div>

<% if local_assigns[:include_form].present? %>
  <div id="<%= dom_id post %>_comments">
    <%= render 'comments', post: post %>
    <%= render 'comments/form', post: post %>
  </div>
<% end %>
