<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<%= link_to "New post", new_post_path %>

<div id="posts">
  <% @records.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post, class: 'show-link' %>
    </p>
  <% end %>
</div>

<%== pagy_nav(@pagy) %>

